<div>
<app-header [title]="'ADD'"></app-header>
</div>
<div style="padding:10px; width:65%;display:inline-block;">
<mat-card>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="incomeFormGroup">
        <form [formGroup]="incomeFormGroup">
          <ng-template matStepLabel>Income</ng-template>
          <mat-grid-list cols="1" rowHeight="100"  style="text-align:center;">
          <mat-form-field>
              <input matInput [matDatepicker]="dp" placeholder="Budget Month" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp
                              startView="multi-year"
                              (yearSelected)="chosenYearHandler($event)"
                              (monthSelected)="chosenMonthHandler($event, dp)"
                              panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="100">
            <mat-grid-tile>
              <mat-form-field>
                <input matInput placeholder="Monthly Income" autocomplete="off" formControlName="monthincctrl" required>
              </mat-form-field>
              </mat-grid-tile>
            <mat-grid-tile><mat-form-field>
              <input matInput placeholder="Other Income" autocomplete="off" formControlName="otherincctrl">
            </mat-form-field></mat-grid-tile>

          </mat-grid-list>

          <div>
            <button mat-raised-button matStepperNext  color="primary" (click)="nextIncome()">Next</button>
          </div>
        </form>
      </mat-step>
  <mat-step [stepControl]="housingFormGroup">
    <form [formGroup]="housingFormGroup">
      <ng-template matStepLabel>Housing</ng-template>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Mortgage" autocomplete="off" formControlName="mortctrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="HOA Fees" autocomplete="off" formControlName="hoafeesctrl">
        </mat-form-field></mat-grid-tile>

      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Rent" autocomplete="off" formControlName="rentctrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="Home Insurance" autocomplete="off" formControlName="homectrl">
        </mat-form-field></mat-grid-tile>

      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Repair/Maintenance" autocomplete="off" formControlName="repairctrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="Water/Gas/Electricity" autocomplete="off" formControlName="waterctrl">
        </mat-form-field></mat-grid-tile>

      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Cable/TV/Internet" autocomplete="off" formControlName="cablectrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="Phone & Cell" autocomplete="off" formControlName="phonectrl">
        </mat-form-field></mat-grid-tile>

      </mat-grid-list>
      <div>
          <button mat-raised-button matStepperPrevious  color="warn">Back</button>&nbsp;
        <button mat-raised-button  matStepperNext  color="primary" (click)="nextHousing()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="transportFormGroup">
    <form [formGroup]="transportFormGroup">
      <ng-template matStepLabel>Transportation</ng-template>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Car payment" autocomplete="off" formControlName="carctrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="Car Insurance" autocomplete="off" formControlName="carinsctrl">
        </mat-form-field></mat-grid-tile>

      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Gas/Fuel" autocomplete="off" formControlName="gasctrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="Car Repairs" autocomplete="off" formControlName="carrepctrl">
        </mat-form-field></mat-grid-tile>
      </mat-grid-list>
      <div>
          <button mat-raised-button matStepperPrevious  color="warn">Back</button>&nbsp;
        <button mat-raised-button  matStepperNext  color="primary" (click)="nextTransportation()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="educationalFormGroup">
    <form [formGroup]="educationalFormGroup">
      <ng-template matStepLabel>Educational</ng-template>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="School Supplies" autocomplete="off" formControlName="schoolctrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="Student Loans" autocomplete="off" formControlName="loansctrl">
        </mat-form-field></mat-grid-tile>

      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="College Tuition" autocomplete="off" formControlName="tuitionctrl" >
          </mat-form-field>
          </mat-grid-tile>

      </mat-grid-list>
      <div>
          <button mat-raised-button matStepperPrevious  color="warn">Back</button>&nbsp;
        <button mat-raised-button  matStepperNext  color="primary" (click)="nextEducation()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="personalFormGroup">
    <form [formGroup]="personalFormGroup">
      <ng-template matStepLabel>Personal</ng-template>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Groceries/Household" autocomplete="off" formControlName="groceriesctrl" >
          </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile><mat-form-field>
          <input matInput placeholder="Clothing" autocomplete="off" formControlName="clothingctrl">
        </mat-form-field></mat-grid-tile>

      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Entertainment" autocomplete="off" formControlName="entertainctrl" >
          </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Medical" autocomplete="off" formControlName="medicalctrl" >
            </mat-form-field>
            </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Pet Supplies" autocomplete="off" formControlName="petctrl" >
          </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Other Expenses" autocomplete="off" formControlName="otherctrl" >
            </mat-form-field>
            </mat-grid-tile>

      </mat-grid-list>
      <div>
          <button mat-raised-button matStepperPrevious  color="warn">Back</button>&nbsp;
        <button mat-raised-button  matStepperNext  color="primary" (click)="nextPersonal()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="savingsFormGroup">
    <form [formGroup]="savingsFormGroup">
      <ng-template matStepLabel>Savings</ng-template>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Emergency Fund" autocomplete="off" formControlName="emergctrl" >
          </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Investments" autocomplete="off" formControlName="investctrl" >
            </mat-form-field>
            </mat-grid-tile>

      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="100">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Retirement" autocomplete="off" formControlName="retirectrl" >
          </mat-form-field>
          </mat-grid-tile>


      </mat-grid-list>
      <div>
          <button mat-raised-button matStepperPrevious  color="warn">Back</button>&nbsp;
        <button mat-raised-button  matStepperNext  color="primary" (click)="nextSavings()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
        <button mat-raised-button matStepperPrevious  color="warn">Back</button>&nbsp;
      <button mat-raised-button  matStepperNext  color="primary" *ngIf="!idvalue" (click)="SubmitValue()">Submit</button>&nbsp;
      <button mat-raised-button  matStepperNext  color="primary" *ngIf="idvalue" (click)="UpdateValue(idvalue)">Update</button>&nbsp;
      <button mat-raised-button (click)="stepper.reset()" *ngIf="!idvalue">Reset</button>
    </div>

  </mat-step>
</mat-horizontal-stepper>
</mat-card>
</div>
<div style="width: 30%;display:inline-block;vertical-align:top;padding-top:10px;" *ngIf="pieChartData.length>0">
    <mat-toolbar>Statistics</mat-toolbar>
    <br/>
    <canvas baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
  <br/>
  <mat-toolbar color="primary" style="text-align:center;">Savings: {{totalValue}}</mat-toolbar>

</div>
